@model MyClass.Models.Post
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Share/_LayoutSite.cshtml";
}

<section class="maincontent clearfix">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1 class="title-post">@Model.Title</h1>
                <p>@Html.Raw(Model.Detail)</p>
            </div>
        </div>
    </div>
</section>
